<div class="container">
  <div class="row">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEventModal">
      Add New Event
    </button>

    <div calendar="cal" ui-calendar="calendar.uiConfig.calendar" ng-model="calendar.eventSources" class="col-md-9"></div>

    <div class="panel panel-default col-md-3" ng-controller="UsersController as users">
      <div class="panel-body">
      <h2>Leaderboard</h2>
        <div class="media" ng-repeat="user in users.all track by $index" ng-show="$index<=10">
          <div class="media-left">
            <a href="#">
              <img class="media-object" ng-src="{{user.avatar}}" alt="{{user.username}}">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{$index}} {{user.username}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="addEventModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Event</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="calendar.createEvent();">
            <div class="form-group">
              <input placeholder="name" class="form-control" type="text" name="title" ng-model="calendar.newEvent.title">
            </div>

            <div class="form-group">
               <div class='input-group date start-datetimepicker'>
                   <input type='text' date class="form-control" ng-model="calendar.newEvent.start" placeholder="Start date/time">
                   <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar" ng-click="calendar.startDatetimepicker()"></span>
                  </span>
              </div>
            </div>

            <div class="form-group">
               <div class='input-group date end-datetimepicker'>
                   <input type='text' date class="form-control" ng-model="calendar.newEvent.end" placeholder="End date/time">
                   <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar" ng-click="calendar.endDatetimepicker()"></span>
                  </span>
              </div>
            </div>

            <select ng-model="calendar.newEvent.category" ng-options="type for type in calendar.eventTypes"></select>

          <button class="btn btn-primary">Add Event</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" tabindex="-1" role="dialog" id="editEventModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Event</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="calendar.update()">
            <div class="form-group">
              <input placeholder="name" class="form-control" type="text" name="title" ng-model="calendar.selectedEvent.title">
            </div>

            <div class="form-group">
               <div class='input-group date start-datetimepicker'>
                   <input type='text' date class="form-control" ng-model="calendar.selectedEvent.start" placeholder="Start date/time">
                   <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar" ng-click="calendar.startDatetimepicker()"></span>
                  </span>
              </div>
            </div>

            <div class="form-group">
               <div class='input-group date end-datetimepicker'>
                   <input type='text' date class="form-control" ng-model="calendar.selectedEvent.end" placeholder="End date/time">
                   <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar" ng-click="calendar.endDatetimepicker()"></span>
                  </span>
              </div>
            </div>

            <select ng-model="calendar.selectedEvent.category" ng-options="type for type in calendar.eventTypes"></select>

          <button class="btn btn-primary">Add Event</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" ng-click="calendar.delete(calendar.selectedEvent)">Delete Event</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
